<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nav</title>
</head>
<body>
    <nav th:fragment="nav(page)">
	    <div class="nav-links">
	        <img class="logo" th:src="@{/img/techxlogo-white.png}" />
	        <div class="language-switch">
			    <form method="get" th:action="@{__${request}__}">
			        <div class="select-wrapper">
			            <i class="fa-solid fa-globe"></i>
			            <select name="lang" onchange="this.form.submit()" class="language-select">
			                <option value="nl" th:selected="${#locale.language == 'nl'}">NL</option>
			                <option value="en" th:selected="${#locale.language == 'en'}">EN</option>
			            </select>
			            <input type="hidden" name="id" th:value="${event_id}" th:if="${event_id != null}" />
			        </div>
			    </form>
			</div>
	        <div>
	            <a th:href="@{/events}"
	               th:text="#{nav.events}"
	               th:classappend="${page == 'events'} ? 'selected'"></a>
	
	            <a th:href="@{/rooms/list}" 
	               th:if="${username != null and role == 'Administrator'}"
	               th:text="#{nav.rooms}"
	               th:classappend="${page == 'rooms'} ? 'selected'"></a>
	
	            <a th:href="@{/favorites}"
	               th:if="${username != null and role != 'Administrator'}"
	               th:text="#{nav.favs}"
	               th:classappend="${page == 'favorites'} ? 'selected'"></a>
	        </div>
	    </div>   
	    
	    <a class="user-info" id="loginButton" th:if="${username == null or role == null}" th:href="@{/login}">
	        <button class="login-btn" th:text="#{nav.login}"></button>
	    </a>
	
	    <div class="user-info" id="user-info" th:if="${username != null and role != null}">
	        <div>
	            <p class="user-name" th:text="${username}"></p>
	            <p class="user-role" th:text="#{${role}}"></p>
	        </div>
	        <i class="fa-solid fa-circle-user"></i>
	        <div class="logout-popup">
	        	<form th:action="@{/logout}" method="post">
					<button type="submit">
		                <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 16px;"></i>
		                <span th:text="#{nav.logout}"></span>
		            </button>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</form>
	        </div>
	    </div>
	</nav>
</body>
</html>